/*  Product Categories with product images
===========================================*/
product-category-list {
  .swiper-slide {
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    @include darkening-blend-mode;
  }

  .swiper-pagination {
    bottom: 15px !important;

    .swiper-pagination-bullet {
      background: theme-colors('mainColors', 'primary') !important;
    }
  }

  ion-slides {
    height: 88%;
    margin-top: 20px;
  }

  .swiper-pagination {
    bottom: 20px;
  }

  .swiper-wrapper {
    height: 90%;
  }

  .swiper-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }

  ion-list {
    margin-bottom: 12px !important;

    ion-list-header {
      margin-bottom: 0 !important;
    }

    ion-col {
      padding: 0 !important;
    }
  }
}
