/*  Style Product Main Categories 
===========================================*/
product-category-main-list {
  li {
    list-style-type: none;
    &[margin] {
      margin: 5px 10px;
    }
  }

  .collapsible-header {
    [background-size]{
      height: 150px;
      position: relative;
      margin-bottom: 5px !important;
    }

    .item-inner {
      padding: 0;
    }

    [button-clear-outline] {
      position: absolute;
      right: 20px;
      bottom: 10px;
    }

    [item-title] {
      position: absolute;
      bottom: 20px;
      padding-left: 20px;
      background: linear-gradient(to left, #00bee4 0%, #0091d2 100%);
      color: white !important;
    }

    ion-item {
      padding-left: 0 !important;
    }
  }

  [icon-small] {
    font-size: icon-size('icon-small') !important;
    color: theme-colors('mainColors', 'accent') !important;
  }
}
