/*  Style Product Main Categories 
===========================================*/
product-category-main-list {
  li {
    list-style-type: none;
    &[margin] {
      margin: 5px 10px;
    }
  }

  .collapsible-header {
    [background-size]{
      height: 150px;
      position: relative;
      margin-bottom: 5px !important;
    }

    .item-inner {
      padding: 0;
    }

    [button-clear-outline] {
      position: absolute;
      right: 20px;
      bottom: 10px;
    }

    [item-title] {
      position: absolute;
      bottom: 20px;
      left: 20px;
      color: white !important;
    }

    ion-item {
      padding-left: 0 !important;
    }
  }

  [icon-small] {
    font-size: icon-size('icon-small') !important;
    color: theme-colors('mainColors', 'accent') !important;
  }

  [category-title] {
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px;
    @include gradient-accent (rgba(0, 190, 228, 0.5) 0%, rgba(0, 145, 210, 0.5) 100% );
    bottom: 0;
    min-height: 45px;
    border-bottom: 1px solid transparent !important;
  }
}
