<!-- Themes Expandable Full image with CTA & Infinite Scroll -->
<ion-content has-header>
    <ion-grid no-padding *ngIf="data != null">
        <ion-row>
            <ion-col col-12>
                <ion-searchbar [formControl]="searchInput" search-bar-bcg>
                </ion-searchbar>
            </ion-col>
            <ion-col col-12 no-padding no-margin>
                <ion-list>
                    <ul no-margin no-padding class="collapsible">
                        <li margin *ngFor="let product of products">
                            <!-- Expandable Full image with CTA Header-->
                            <div class="collapsible-header">
                                <ion-item (click)="openImageSlider(product)" no-margin padding no-lines [ngClass]="animateClass" background-size
                                    [ngStyle]="{ 'background-image': 
                                    product.ProductImages && product.ProductImages.length > 0 ? 'url(' + api.url + '/Images/Inventory/' + product.ProductImages[0].ItemImagePath + ')' : '' }">
                                    <div gallery-title>
                                        <div float-left>
                                            <h2 item-title>{{product.Name}}</h2>
                                            <p>{{product.SalePrice}} PKR</p>
                                        </div>
                                        <ion-icon white float-right>
                                            <i class="icon icon-cart"></i>
                                        </ion-icon>
                                    </div>
                                </ion-item>
                            </div>
                        </li>
                    </ul>
                </ion-list>
                <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                    <ion-infinite-scroll-content></ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>